<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Archive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Distribute.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Document.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Fast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Make.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Style.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Unarchive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81034A371E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A381E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A391E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A3A1E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A3B1E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A3C1E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A3D1E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A3E1E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A3F1E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A401E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A411E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A421E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A431E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A441E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81034A461E72F53E00A2EEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
